<div class="form" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <h2 style="background:none;color: #2c8b8b;text-align: center;margin-top: 0px;margin-bottom: 22px;">  EMPLOYEE INFORMATION INSERT</h2>
    <form #emloyeeinformationinsertform=ngForm (ngSubmit)="employeeinformationinsert(emloyeeinformationinsertform.value)" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>USERNAME</mat-label>
        <input matInput placeholder="USERNAME" value="" name="username" id="username" type="text" ngModel>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>FIRST NAME</mat-label>
        <input matInput placeholder="FIRST NAME" value="" name="firstname" id="firstname" type="text" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>LAST NAME</mat-label>
        <input matInput placeholder="LAST NAME" value="" name="lastname" id="lastname" type="text" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>EMAIL</mat-label>
        <input matInput placeholder="EMAIL" value="" name="email" id="email" type="email" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>BIRTHDATE</mat-label>
        <input matInput placeholder="BIRTHDATE" value="" name="birthdate" id="birthdate" type="date" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>BASIC SALARY</mat-label>
        <input matInput placeholder="BASIC SALARY" value="" name="basicsalary" id="basicsalary" type="number" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>STATUS</mat-label>
        <input matInput placeholder="STATUS" value="" name="status" id="status" type="text" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>GROUP</mat-label>
        <input matInput placeholder="GROUP" value="" name="groupkaryawan" id="groupkaryawan" type="text" ngModel >
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>DESCRIPTION</mat-label>
        <textarea matInput placeholder="DESCRIPTION" name="description" id="description" ngModel ></textarea>
      </mat-form-field>
      <button type="submit" mat-button style="background: #127474;color: white">INSERT</button>
    </form>
  </mat-card>
</div>
