<div class="form" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <h2 style="background:none;color: #2c8b8b;text-align: center;margin-top: 0px;margin-bottom: 22px;"> REGISTRATION SUCCEED</h2>
    <form action="" fxLayoutAlign="stretch" fxLayout="column">
      <h6 style="background:none;color: #2c8b8b;text-align: center;margin-top: 0px;margin-bottom: 22px;"> YOUR ACCOUNT WAS CREATED</h6>
      <a mat-button routerLink="/loginpage">BACK</a>
    </form>
  </mat-card>
  <mat-grid-list cols="1" >
  </mat-grid-list>
</div>
