<div class="form" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <h2 style="background:none;color: #2c8b8b;text-align: center;margin-top: 0px;">  EMPLOYEE INFORMATION </h2>
    <h6 style="background:none;color: #2c8b8b;text-align: center;margin-top: 0px;margin-bottom: 22px;">  DELETE CONFIRMATION </h6>
    <div fxLayoutAlign="stretch" fxLayout="column">
      <mat-button-toggle value="italic" style="background: #ff8d8d;color: white"(click)="employeedeleteinformation()">DELETE</mat-button-toggle>
    </div>
  </mat-card>
</div>
